<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

  <main layout:fragment="content" x-data="{ currentForm: null }">

    <div class="navbar navbar-expand-lg py-4">
      <div class="container-fluid px-0">
        <h2 class="h4 mb-0 d-none d-sm-block">Products</h2>
        <div class="d-flex justify-content-between">
          <a th:href="@{/products/create}" class="flex-shrink-0 btn btn-success px-4 rounded-0">Add product</a>
        </div>
      </div>
    </div>

    <div class="table-responsive small">
      <table class="table table-borderless table-hover table-sm text-center" style="table-layout: fixed;">

        <thead>
          <tr>
            <th class="bg-dark py-2 text-white" scope="col">Name</th>
            <th class="bg-dark py-2 text-white" scope="col">Quantity</th>
            <th class="bg-dark py-2 text-white" scope="col">Price</th>
            <th class="bg-dark py-2 text-white" style="width: 30%;" scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>

          <tr th:if="${products.size() == 0}">
            <td colspan="3" class="align-middle py-2">
              No products
            </td>
          </tr>

          <tr th:each="product : ${products}">
            <td th:text="${product.name}" class="align-middle"></td>
            <td th:text="${product.quantity}" class="align-middle"></td>
            <td th:text="${product.price}" class="align-middle"></td>
            <td class="align-middle">
              <a th:href="@{/products/update/__${product.id}__}" class="btn"><i class="bi bi-pencil-fill text-primary"></i></a>
              <button @click="currentForm = $el.dataset.link" th:data-link="|javascript: document.deleteForm${product.id}.submit()|" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                  class="bi bi-trash-fill text-danger"></i></button>
              <form th:name="|deleteForm${product.id}|" th:action="@{/products/delete/__${product.id}__}" method="post" th:hidden="true">
                <input type="submit" hidden>
              </form>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <nav th:if="${totalPages > 0}" class="py-2">
      <ul class="pagination">

        <li th:if="${currentPage > 1}" class="page-item">
          <a th:href="@{'/products/list?page=__${currentPage - 1}__'}" class="page-link text-dark rounded-0">
            <i class="bi bi-chevron-left"></i>
          </a>
        </li>

        <li th:each="page : ${#numbers.sequence(1, totalPages)}" class="page-item">
          <a th:href="@{'/products/list?page=__${page}__'}" th:text="${page}"
                  th:class="${currentPage == page ? 'page-link bg-dark text-white' : 'page-link text-dark'}"></a>
        </li>

        <li th:if="${currentPage < totalPages}" class="page-item">
          <a th:href="@{'/products/list?page=__${currentPage + 1}__'}" class="page-link text-dark rounded-0">
            <i class="bi bi-chevron-right"></i>
          </a>
        </li>

      </ul>
    </nav>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to continue?
          </div>
          <div class="modal-footer">
            <a :href="currentForm" class="btn btn-success px-4 me-3 rounded-0">Yes</a>
            <button class="btn btn-danger px-4 rounded-0" data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

  </main>

</body>

</html>