<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
  <script th:src="@{/webjars/alpinejs/dist/cdn.min.js}" defer></script>
  <title>Inventory Management System</title>
  <style>
    ul li:hover {
      background-color: #2f353b;
    }
  </style>
</head>

<body style="background-color: #f7f7f7;">

  <header class="navbar navbar-expand-lg bg-dark py-0">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 py-2 px-3 fs-5 fw-bold text-center text-uppercase text-white bg-success"
       href="#">Inventory</a>
    <button class="navbar-toggler d-sm-block d-md-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu">
      <i class="bi bi-list text-white"></i>
    </button>
  </header>

  <div class="container-fluid">
    <div class="row">

      <div class="sidebar col-md-3 col-lg-2 p-0 bg-dark">
        <div class="offcanvas-md offcanvas-end bg-dark" tabindex="-1" id="sidebarMenu">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title fw-bold text-uppercase text-white" id="sidebarMenuLabel">Inventory</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    data-bs-target="#sidebarMenu"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column" style="height: 100vh">
              <li class="nav-item py-2">
                <a class="nav-link d-flex align-items-center gap-2 text-white" th:href="@{/dashboard}">
                  <i class="bi bi-bar-chart"></i>
                  Dashboard
                </a>
              </li>
              <li class="nav-item py-2">
                <a class="nav-link d-flex align-items-center gap-2 text-white" th:href="@{/products/list}">
                  <i class="bi bi-cart3"></i>
                  Products
                </a>
              </li>
              <li class="nav-item py-2">
                <form th:action="@{/logout}" method="post">
                  <button class="nav-link d-flex align-items-center gap-2 text-white" href="#">
                    <i class="bi bi-power"></i>
                    Sign out
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div class="navbar navbar-expand-lg py-4">
          <div class="container-fluid px-0">
            <h2 class="h4 mb-0 d-none d-sm-block">Products</h2>
          </div>
        </div>

        <div class="table-responsive small">
          <table class="table table-borderless table-hover table-sm text-center" style="table-layout: fixed;">

            <thead>
              <tr>
                <th class="bg-dark py-2 text-white" scope="col">Name</th>
                <th class="bg-dark py-2 text-white" scope="col">Quantity</th>
                <th class="bg-dark py-2 text-white" scope="col">Price</th>
              </tr>
            </thead>

            <tbody>

              <tr th:if="${products.size() == 0}">
                <td colspan="3" class="align-middle py-2">
                  No products
                </td>
              </tr>

              <tr th:each="product : ${products}">
                <td th:text="${product.name}" class="align-middle"></td>
                <td th:text="${product.quantity}" class="align-middle"></td>
                <td th:text="${product.price}" class="align-middle"></td>
              </tr>

            </tbody>
          </table>
        </div>

        <nav th:if="${totalPages > 0}" class="py-2">
          <ul class="pagination">

            <li th:if="${currentPage > 1}" class="page-item">
              <a th:href="@{'/products/list?page=__${currentPage - 1}__'}" class="page-link text-dark rounded-0">
                <i class="bi bi-chevron-left"></i>
              </a>
            </li>

            <li th:each="page : ${#numbers.sequence(1, totalPages)}" class="page-item">
              <a th:href="@{'/products/list?page=__${page}__'}" th:text="${page}"
                      th:class="${currentPage == page ? 'page-link bg-dark text-white' : 'page-link text-dark'}"></a>
            </li>

            <li th:if="${currentPage < totalPages}" class="page-item">
              <a th:href="@{'/products/list?page=__${currentPage + 1}__'}" class="page-link text-dark rounded-0">
                <i class="bi bi-chevron-right"></i>
              </a>
            </li>

          </ul>
        </nav>

      </main>

    </div>
  </div>

</body>

</html>