<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

<main layout:fragment="content" x-data="{ currentForm: null }">

  <div class="navbar navbar-expand-lg py-4">
    <div class="container-fluid px-0">
      <h2 th:text="#{product-table.title}" class="h4 mb-0 d-none d-sm-block"></h2>
      <div class="d-flex justify-content-between">
        <div th:replace="~{fragment/search(
          searchParam='name',
          searchUrl='/products/find',
          listUrl='/products/list',
          placeholder=#{product-table.search-products-placeholder}
        )}"></div>
        <a th:href="@{/products/create}" th:text="#{product-table.add-product}" class="ms-4 flex-shrink-0 btn btn-success px-4 rounded-0"></a>
      </div>
    </div>
  </div>

  <div layout:replace="~{fragment/table :: table(
      headings=${ {
        'product-table.name-heading',
        'product-table.category-heading',
        'product-table.quantity-heading',
        'product-table.price-heading',
        'product-table.actions-heading'
      } }
    )}">
    <tbody layout:fragment="table-data">
    <th:block th:if="${products.size() == 0}">
      <div th:replace="~{fragment/table :: row-empty(
            colspan=5
          )}"></div>
    </th:block>
    <th:block th:each="product : ${products}">
      <div th:replace="~{fragment/table :: row(
            cells=${ {product.name, product.category?.name ?: '-', product.quantity, #numbers.formatCurrency(product.price)} },
            updateUrl='/products/update/__${product.id}__',
            deleteUrl='/products/delete/__${product.id}__'
          )}"></div>
    </th:block>
    </tbody>
  </div>

  <div th:replace="~{fragment/pagination(
      url='/products/list',
      currentPage=${currentPage},
      totalPages=${totalPages}
    )}"></div>

  <div th:replace="~{fragment/confirm-dialog}"></div>

</main>

</body>

</html>