<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

  <main layout:fragment="content">
    <div class="py-4">

      <h2 th:text="${mode == 'create'} ? 'Add product' : 'Edit product'" class="h4 mb-3"></h2>
      <hr class="hr">

      <form th:action="${mode == 'create'} ? @{/products/create} : @{/products/update/__${id}__}"
            method="post"
            th:object="${product}"
            class="needs-validation"
            novalidate x-data @submit="validateForm($el, $event)">

        <div th:if="${duplicatedName}" class="alert alert-danger rounded-0">
          Product name taken
        </div>

        <div th:replace="~{fragment/form :: text-field(
          label='Name',
          inputName='name',
          icon='bi-card-text',
          invalidMessage='Please choose a name',
          placeholder='Name',
          required=true
        )}"></div>

        <div layout:replace="~{fragment/form :: select-field(
          label='Category',
          inputName='categoryId',
          icon='bi-bookmark'
        )}">
          <th:block layout:fragment="select-field-options">
            <option value="" th:selected="${product.categoryId == null}">-- Choose a category --</option>
            <option th:selected="${product.categoryId == category.id}" th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
          </th:block>
        </div>

        <div th:replace="~{fragment/form :: number-field(
          label='Quantity',
          inputName='quantity',
          icon='bi-boxes',
          invalidMessage='Please choose a quantity',
          placeholder='0',
          required=true,
          min=1,
          max=100,
          step=1
        )}"></div>

        <div th:replace="~{fragment/form :: text-field(
          label='Price',
          inputName='price',
          icon='bi-currency-dollar',
          invalidMessage='Please choose a price',
          placeholder='0.00',
          required=true,
          dynamicMask='$money($input)'
        )}"></div>

        <div class="mt-4">
          <button type="submit" class="btn btn-success px-4 rounded-0 me-3">Save</button>
          <a th:href="@{/products/list}" class="btn btn-danger px-4 rounded-0">Cancel</a>
        </div>

      </form>

    </div>
  </main>

</body>