<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

<main layout:fragment="content" x-data="{ currentForm: null }">

  <div class="navbar navbar-expand-lg py-4">
    <div class="container-fluid px-0">
      <h2 th:text="${#strings.toString(session.status) == 'UNPAID'} ? 'Orders' : 'Sales'" class="h4 mb-0 d-none d-sm-block"></h2>
      <div class="d-flex justify-content-between">
        <form :action="search === '' ? '/orders/list' : '/orders/find'" method="get" class="w-100" x-data="{ search: '' }">
          <div class="input-group w-100 bg-white">
            <input name="status" th:value="${session.status}" hidden>
            <input x-model="search" class="form-control rounded-0" type="search" name="customer-name" th:placeholder="${#strings.toString(session.status) == 'UNPAID'} ? 'Search orders...' : 'Search sales...'">
            <button class="btn btn-outline-secondary rounded-0">
              <i th:if="${#strings.isEmpty(param.get('customer-name'))}" class="bi bi-search"></i>
              <i th:unless="${#strings.isEmpty(param.get('customer-name'))}" :class="search !== '' ? 'bi bi-search' : 'bi bi-x-lg'"></i>
            </button>
          </div>
        </form>
        <a th:unless="${#strings.toString(session.status) == 'PAID'}" th:href="@{/orders/create}" class="ms-4 flex-shrink-0 btn btn-success px-4 rounded-0">Add order</a>
      </div>
    </div>
  </div>

  <div layout:replace="~{fragment/table :: table(
      headings=${ {'Bill No.', 'Customer', 'Date', 'Quantity', 'Amount', 'Actions'} }
    )}">
    <tbody layout:fragment="table-data">
    <th:block th:if="${orders.size() == 0}">
      <div th:replace="~{fragment/table :: row-empty(
            colspan=6
          )}"></div>
    </th:block>
    <th:block th:each="order : ${orders}">
      <div th:replace="~{fragment/table :: row(
            cells=${ { order.id, order.customer.name, order.date, order.quantity, '$ ' + order.amount} },
            updateUrl='/orders/update/__${order.id}__',
            deleteUrl='/orders/delete/__${order.id}__'
          )}"></div>
    </th:block>
    </tbody>
  </div>

  <div th:replace="~{fragment/pagination(
      url='/orders/list?status=__${session.status}__',
      currentPage=${currentPage},
      totalPages=${totalPages}
    )}"></div>

  <div th:replace="~{fragment/confirm-dialog}"></div>

</main>

</body>

</html>