<!DOCTYPE html>
<html th:lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <th:block th:insert="~{fragment/head}"></th:block>
</head>

<body style="background-color: #f7f7f7;">

  <header class="navbar navbar-expand-lg bg-dark py-0">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 py-2 px-3 fs-5 fw-bold text-center text-uppercase text-white bg-success"
       href="#">Inventory</a>
    <button class="navbar-toggler d-sm-block d-md-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#sidebarMenu">
      <i class="bi bi-list text-white"></i>
    </button>
  </header>

  <div class="container-fluid">
    <div class="row">

      <div class="sidebar col-md-3 col-lg-2 p-0 bg-dark">
        <div class="offcanvas-md offcanvas-end bg-dark" tabindex="-1" id="sidebarMenu">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title fw-bold text-uppercase text-white" id="sidebarMenuLabel">Inventory</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    data-bs-target="#sidebarMenu"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column" style="height: 100vh">
              <li class="nav-item py-2">
                <a th:href="@{/dashboard}" class="nav-link d-flex align-items-center gap-2 text-white">
                  <i class="bi bi-bar-chart"></i>
                  <span th:text="#{sidebar.dashboard}"></span>
                </a>
              </li>
              <li class="nav-item py-2">
                <a th:href="@{/orders/list?status=UNPAID}" class="nav-link d-flex align-items-center gap-2 text-white">
                  <i class="bi bi-file-earmark"></i>
                  <span th:text="#{sidebar.orders}"></span>
                </a>
              </li>
              <li class="nav-item py-2">
                <a th:href="@{/products/list}" class="nav-link d-flex align-items-center gap-2 text-white">
                  <i class="bi bi-cart3"></i>
                  <span th:text="#{sidebar.products}"></span>
                </a>
              </li>
              <li class="nav-item py-2">
                <a th:href="@{/categories/list}" class="nav-link d-flex align-items-center gap-2 text-white" href="#">
                  <i class="bi bi-tag"></i>
                  <span th:text="#{sidebar.categories}"></span>
                </a>
              </li>
              <li class="nav-item py-2">
                <a th:href="@{/customers/list}" class="nav-link d-flex align-items-center gap-2 text-white" href="#">
                  <i class="bi bi-people"></i>
                  <span th:text="#{sidebar.customers}"></span>
                </a>
              </li>
              <li class="nav-item py-2">
                <a th:href="@{/orders/list?status=PAID}" class="nav-link d-flex align-items-center gap-2 text-white" href="#">
                  <i class="bi bi-graph-up"></i>
                  <span th:text="#{sidebar.sales}"></span>
                </a>
              </li>
              <li class="nav-item py-2">
                <a th:href="@{/settings}" class="nav-link d-flex align-items-center gap-2 text-white" href="#">
                  <i class="bi bi-gear"></i>
                  <span th:text="#{sidebar.settings}"></span>
                </a>
              </li>
              <li class="nav-item py-2">
                <a href="javascript: document.logoutForm.submit()" class="nav-link d-flex align-items-center gap-2 text-white">
                  <i class="bi bi-power"></i>
                  <span th:text="#{sidebar.logout}"></span>
                </a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                  <input type="submit" hidden>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <main layout:fragment="content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4"></main>

    </div>
  </div>
</body>

</html>