<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="alert-dialog(title, description, dismiss)" class="modal fade" th:id="${id?: 'alert'}" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h1 th:text="${title}" class="modal-title fs-5" id="staticBackdropLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div th:text="${description}" class="modal-body"></div>
      <div class="modal-footer">
        <button th:text="${dismiss}" class="btn btn-primary px-5 rounded-0" data-bs-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>

</html>