<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="confirm-dialog" class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h1 th:text="#{confirm-dialog.title}" class="modal-title fs-5" id="staticBackdropLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div th:text="#{confirm-dialog.description}" class="modal-body"></div>
      <div class="modal-footer">
        <a :href="currentForm" th:text="#{confirm-dialog.yes}" class="btn btn-success px-4 me-3 rounded-0"></a>
        <button th:text="#{confirm-dialog.no}" class="btn btn-danger px-4 rounded-0" data-bs-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>

</html>