<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="confirm-dialog" class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to continue?
      </div>
      <div class="modal-footer">
        <a :href="currentForm" class="btn btn-success px-4 me-3 rounded-0">Yes</a>
        <button class="btn btn-danger px-4 rounded-0" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

</html>