<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
  <script th:src="@{/webjars/alpinejs__mask/dist/cdn.min.js}" defer></script>
  <script th:src="@{/webjars/alpinejs/dist/cdn.min.js}" defer></script>
  <script th:src="@{/js/validate-form.js}" defer></script>
  <script th:src="@{/js/toggle-password.js}" defer></script>
  <title th:text="#{title}"></title>
  <style>
    ul li:hover {
      background-color: #2f353b;
    }
  </style>
</head>

</html>