<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="pagination(url, currentPage, totalPages)"
     th:if="${totalPages > 0 && #strings.isEmpty(param.name)}"
     class="py-2">
  <ul class="pagination">
    <li th:if="${currentPage > 1}" class="page-item">
      <a th:href="@{__${url}__(page=__${currentPage - 1}__)}" class="page-link text-dark rounded-0">
        <i class="bi bi-chevron-left"></i>
      </a>
    </li>
    <li th:each="page : ${#numbers.sequence(1, totalPages)}" class="page-item">
      <a th:href="@{__${url}__(page=__${page}__)}" th:text="${page}"
         th:class="${currentPage == page ? 'page-link bg-dark text-white rounded-0' : 'page-link text-dark rounded-0'}"></a>
    </li>
    <li th:if="${currentPage < totalPages}" class="page-item">
      <a th:href="@{__${url}__(page=__${currentPage + 1}__)}" class="page-link text-dark rounded-0">
        <i class="bi bi-chevron-right"></i>
      </a>
    </li>
  </ul>
</nav>

</html>