<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{fragment/head}"></th:block>
</head>

<body style="background-color: #f7f7f7;">

  <div class="container-fluid">
    <main class="d-flex justify-content-center align-items-center" style="height: 100vh;">

      <div class="container-fluid mb-5 p-0 bg-white" style="max-width: 400px;">

        <h2 th:text="#{request-password-reset-form.title}" class="h5 border bg-dark text-white text-center p-3 mb-3"></h2>

        <form th:action="@{/request-password-reset}" method="post" class="needs-validation px-4" novalidate x-data @submit="validateForm($el, $event)">

          <div th:if="${userNotFound}" th:text="#{request-password-reset-form.invalid-message}" class="alert alert-danger rounded-0"></div>

          <div class="mb-3">
            <label class="form-label" for="email" th:text="#{request-password-reset-form.email-label}"></label>
            <div class="input-group">
              <span class="input-group-text rounded-0 bg-white"><i class="bi bi-envelope-fill"></i></span>
              <input type="email" class="form-control shadow-none rounded-0" id="email" name="email" th:placeholder="#{request-password-reset-form.email-placeholder}" required>
              <div th:text="#{request-password-reset-form.email-invalid-message}" class="invalid-feedback"></div>
            </div>
          </div>

          <div class="my-4 pb-2">
            <button type="submit" th:text="#{request-password-reset-form.submit}" class="btn btn-success w-100 px-5 py-1 rounded-0"></button>
          </div>

        </form>
      </div>

    </main>
  </div>

</body>