<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{fragment/head}"></th:block>
</head>

<body style="background-color: #f7f7f7;">

  <div class="container-fluid">
    <main class="d-flex justify-content-center align-items-center" style="height: 100vh;">

      <div class="container-fluid mb-5 p-0 bg-white" style="max-width: 400px;">

        <h2 th:text="#{reset-password-form.title}" class="h5 border bg-dark text-white text-center p-3 mb-3"></h2>

        <form th:action="@{/reset-password}" method="post" class="needs-validation px-4" novalidate x-data @submit="validateForm($el, $event)">

          <div th:if="${userNotFound}" th:text="#{request-password-reset-form.invalid-message}" class="alert alert-danger rounded-0"></div>

          <div th:replace="~{fragment/form :: password-field(
            label=#{reset-password-form.new-password-label},
            name='new-password',
            error=#{reset-password-form.new-password-invalid-message},
            placeholder=#{reset-password-form.new-password-placeholder},
            required=true
          )}"></div>

          <input type="hidden" name="token" th:value="${token}">

          <div class="my-4 pb-2">
            <button type="submit" th:text="#{reset-password-form.submit}" class="btn btn-success w-100 px-5 py-1 rounded-0"></button>
          </div>

        </form>
      </div>

    </main>
  </div>

</body>