<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

  <main layout:fragment="content" x-data="{ currentForm: null }">
    <div class="py-4">
      <h2 class="h4 mb-3" th:text="#{settings.title}">Settings</h2>
      <hr class="hr">

      <h3 class="h6 mt-4 mb-3" th:text="#{settings.update-password-title}"></h3>

      <form
          th:action="@{/update-password}"
          method="post"
          class="needs-validation"
          novalidate
          x-data
          @submit="validateForm($el, $event)"
          style="max-width: 500px;">

        <div th:if="${param.get('update-password-error')}" th:text="#{settings.update-password-error}" class="alert alert-danger py-2 rounded-0"></div>

        <div th:if="${param.get('update-password-success')}" th:text="#{settings.update-password-success}" class="alert alert-success py-2 rounded-0"></div>

        <div th:replace="~{fragment/form :: password-field(
            label=#{settings.password-label},
            name='password',
            error=#{settings.password-invalid-message},
            placeholder=#{settings.password-placeholder},
            required=true
          )}"></div>

        <div th:replace="~{fragment/form :: password-field(
            label=#{settings.new-password-label},
            name='new-password',
            error=#{settings.new-password-invalid-message},
            placeholder=#{settings.new-password-placeholder},
            required=true
          )}"></div>

        <div class="my-4 py-2">
          <button type="submit" th:text="#{settings.update-password-submit}" class="btn btn-success px-5 rounded-0"></button>
        </div>

      </form>

      <hr class="hr">

      <button @click="currentForm = $el.dataset.link"
              th:data-link="|javascript: document.deleteForm${#ids.seq('someId')}.submit()|"
              data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              class="btn btn-danger rounded-0"
              th:text="#{settings.delete-account}"
      ></button>
      <form th:name="|deleteForm${#ids.prev('someId')}|" th:action="@{/delete-account}" method="post" th:hidden="true">
        <input type="hidden">
      </form>

      <div th:replace="~{fragment/confirm-dialog}"></div>

    </div>
  </main>

</body>