<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

  <main layout:fragment="content">
    <div class="py-4">
      <h2 class="h4 mb-3">Dashboard</h2>
      <hr class="hr">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4 card-columns">
        <div class="col">
          <div class="card rounded-0 bg-success" >
            <div class="row card-body text-white">
              <h5 class="card-title h5" th:text="#{dashboard.total-sales}"></h5>
              <p th:text="${#numbers.formatCurrency(dashboard.totalSales)}" class="card-text h3"></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card rounded-0 bg-primary" >
            <div class="row card-body text-white">
              <h5 class="card-title h5" th:text="#{dashboard.paid-orders}"></h5>
              <p th:text="${dashboard.totalPaidOrders}" class="card-text h3"></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card rounded-0 bg-secondary" >
            <div class="row card-body text-white">
              <h5 class="card-title h5" th:text="#{dashboard.unpaid-orders}"></h5>
              <p th:text="${dashboard.totalUnpaidOrders}" class="card-text h3"></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card rounded-0 bg-danger" >
            <div class="row card-body text-white">
              <h5 class="card-title h5" th:text="#{dashboard.total-products}"></h5>
              <p th:text="${dashboard.totalProducts}" class="card-text h3"></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card rounded-0 bg-warning" >
            <div class="row card-body text-white">
              <h5 class="card-title h5" th:text="#{dashboard.total-categories}"></h5>
              <p th:text="${dashboard.totalCategories}" class="card-text h3"></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card rounded-0 bg-info" >
            <div class="row card-body text-white">
              <h5 class="card-title h5" th:text="#{dashboard.total-customers}"></h5>
              <p th:text="${dashboard.totalCustomers}" class="card-text h3"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

</body>

</html>