<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/head}"></head>

<body style="background-color: #f7f7f7;">
<div class="container-fluid">
  <main class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <h1 th:text="${status}" class="display-1 fw-bold"></h1>
    <p th:text=${error} class="fs-3"></p>
    <p th:text="#{error-5xx-message}"></p>
    <a th:href="@{/dashboard}" th:text="#{error-back-to-dashboard-message}"></a>
  </main>
</div>
</body>

</html>