<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

  <main layout:fragment="content" x-data="{ currentForm: null }">

    <div class="navbar navbar-expand-lg py-4">
      <div class="container-fluid px-0">
        <h2 class="h4 mb-0 d-none d-sm-block">Categories</h2>
        <div class="d-flex justify-content-between">
          <form :action="search === '' ? '/categories/list' : '/categories/find'" method="get" class="w-100 me-4" x-data="{ search: '' }">
            <div class="input-group w-100 bg-white">
              <input x-model="search" class="form-control rounded-0" type="search" name="name" placeholder="Search category...">
              <button class="btn btn-outline-secondary rounded-0">
                <i th:if="${#strings.isEmpty(param.name)}" class="bi bi-search"></i>
                <i th:unless="${#strings.isEmpty(param.name)}" :class="search !== '' ? 'bi bi-search' : 'bi bi-x-lg'"></i>
              </button>
            </div>
          </form>
          <a th:href="@{/categories/create}" class="flex-shrink-0 btn btn-success px-4 rounded-0">Add category</a>
        </div>
      </div>
    </div>

    <div layout:replace="~{fragment/table :: table(
      headings=${ {'Name', 'Actions'} }
    )}">
      <tbody layout:fragment="table-data">
        <th:block th:if="${categories.size() == 0}">
          <div th:replace="~{fragment/table :: row-empty(
              colspan=2
          )}"></div>
        </th:block>
        <th:block th:each="category : ${categories}">
          <div th:replace="~{fragment/table :: row(
            cells=${ {category.name} },
            updateUrl='/categories/update/__${category.id}__',
            deleteUrl='/categories/delete/__${category.id}__'
          )}"></div>
        </th:block>
      </tbody>
    </div>

    <div th:replace="~{fragment/pagination(
      url='/categories/list',
      currentPage=${currentPage},
      totalPages=${totalPages}
    )}"></div>

    <div th:replace="~{fragment/confirm-dialog}"></div>

  </main>

</body>

</html>