<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">

<body>

  <main layout:fragment="content">
    <div class="py-4">

      <h2 th:text="${mode == 'create'} ? #{category-form.add-title} : #{category-form.edit-title}" class="h4 mb-3"></h2>
      <hr class="hr">

      <form th:action="${mode == 'create'} ? @{/categories/create} : @{/categories/update/__${id}__}"
            method="post"
            th:object="${category}"
            class="needs-validation"
            novalidate x-data @submit="validateForm($el, $event)">

        <div th:if="${duplicatedName}" th:text="#{category-form.duplicated-name-message}" class="alert alert-danger rounded-0"></div>

        <div th:replace="~{fragment/form :: text-field(
          label=#{category-form.name-label},
          inputName='name',
          icon='bi-card-text',
          invalidMessage=#{category-form.name-invalid-message},
          placeholder=#{category-form.name-placeholder},
          required=true
        )}"></div>

        <div class="mt-4">
          <button type="submit" th:text="#{category-form.save}" class="btn btn-success px-4 rounded-0 me-3"></button>
          <a th:href="@{/categories/list}" th:text="#{category-form.cancel}" class="btn btn-danger px-4 rounded-0"></a>
        </div>

      </form>
    </div>
  </main>

</body>